<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<style>
<h1>Hej </h1>
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */
    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }
</style>



<table id="myTable">
    <tr class="header">
        <th style="width:60%;">name</th>
        <th style="width:40%;">birthyear</th>
        <th style="width:40%;">deathyear</th>
    </tr>
    <tr>
        <td>Testperson</td>
        <td>0001</td>
        <td>0002</td>
    </tr>
    <tr>
        <td>Trumptest2</td>
        <td>0002</td>
        <td>0003</td>
    </tr>
    <tr>
        <td>Testperson3</td>
        <td>4022</td>
        <td>1920</td>
    </tr>
    <tr>
        <td>SamTestman</td>
        <td>1821</td>
        <td>1902</td>
    </tr>
</table>