<input type="text" id="myInput" placeholder="Search for names.." data-bind="value:id">
<button data-bind="click:getNames">Search</button>

<input type="text" id="myInput2" placeholder="Search for movies.." data-bind="value:id2">
<button data-bind="click:getMovie">Search</button>

<style>
    <h1 > Hej </h1 >
    #myInput {
        background-image: url('/css/searchicon.png'); /* Add a search icon to input */
        background-position: 10px 12px; /* Position the search icon */
        background-repeat: no-repeat; /* Do not repeat the icon image */
        width: 100%; /* Full-width */
        font-size: 16px; /* Increase font-size */
        padding: 12px 20px 12px 40px; /* Add some padding */
        border: 1px solid #ddd; /* Add a grey border */
        margin-bottom: 12px; /* Add some space below the input */
       
    }

    #myTable {
        border-collapse: collapse; /* Collapse borders */
        width: 100%; /* Full-width */
        border: 1px solid #ddd; /* Add a grey border */
        font-size: 18px; /* Increase font-size */

    }

        #myTable th, #myTable td {
            text-align: left; /* Left-align text */
            padding: 12px; /* Add padding */
        }

        #myTable tr {
            /* Add a bottom border to all table rows */
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                /* Add a grey background color to the table header and on hover */
                background-color: #f1f1f1;
            }

</style>



<table id="myTable" data-bind="foreach: names">

    <tr>
        <td data-bind="text: primaryname">Unauthorized</td>
        <td data-bind="text: category">Unauthorized</td>


</table>

<table id="myTable" >
    <thead>
        <tr>
            <th>Primarytitle</th>
            <th>Originaltitle</th>
            <th>Averagerating</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: movies">
        <tr>
            <td data-bind="text: primarytitle">Unauthorized</td>
            <td data-bind="text: originaltitle">Unauthorized</td>
            <td data-bind="text: averagerating">Unauthorized</td>
        </tr>
    </tbody>
</table>